@import url("styles/header.css");

:root {
--cor-de-fundo: #c1d2f3;
--branco: #ffffff;
--laranja: #f1d293;
--azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
}
body {
    :root {
        --cor-de-fundo: #ebecee;
        --branco: #ffffff;
        --laranja: #eb9b00;
        --azul-degrade: linear-gradient(97.54deg, #a0bed4 35.49%, #326589 165.37%);
        --fonte-principal: "Poppins";
      }
      body {
        background-color: var(--cor-de-fundo);
        font-family: var(--fonte-principal);
    }
    body {
        background-color: var(--cor-de-fundo);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
    }
    @import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
:root {
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002f52;
  }
  .classe:hover {
}
.botao {
    background-color: var(--azul);
    color: white;
  }
  
  .botao:hover {
    background-color: var(--azul-claro);
    color: var(--azul);
  }
  @import url("styles/header.css");
  @import url("styles/banner.css");
  @import url("styles/carrossel.css");
  @import url("styles/topicos.css");
  .tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
  }
  .tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
  }
  .tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tópicos__item {
    margin: 2em 0.5em;
}
.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
  }
  @import url("styles/header.css");
  @import url("styles/banner.css");
  @import url("styles/carrossel.css");
  @import url("styles/topicos.css");
  @import url("styles/contato.css");
  @import url("styles/header.css");
  @import url("styles/banner.css");
  @import url("styles/carrossel.css");
  @import url("styles/topicos.css");
  @import url("styles/contato.css");
  @import url("styles/rodapé.css");
     
    
    


  